.yellow {
  color: yellow;
}
#greycol {
  color: grey;
}
p:first-child {
  color: red;
}
h3:first-child {
  color: pink;
}
p:nth-last-child(2) {
  color: green;
}
li:nth-last-child(2) {
  color: blue;
  font-size: 22px;
}
li:last-child {
  color: blueviolet;
}
li:nth-child(3) {
  color: cadetblue;
  font-size: 12px;
}
li:nth-of-type(4) {
  color: cyan;
  font-size: 25px;
}
li:first-child {
  color: darkblue;
}
li a:hover {
  text-transform: uppercase;
}
a:visited {
  color: dodgerblue;
}
a:link {
  color: rgb(0, 212, 0);
}
a:disabled {
  color: saddlebrown;
  font-size: 11px;
}
a::backdrop {
  color: black;
}
